{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        // There's some cycle in code that we cannot removed for teh moment.
        "import/no-cycle": "none"
        //"import/export": 0,
        //"import/prefer-default-export": "off"
    }
}
