{
    "semi": true,
    "proseWrap": "always",
    "arrowParens": "avoid",
    "trailingComma": "none",
    "quoteProps": "as-needed",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4
}
